@tailwind base;
@tailwind components;
@tailwind utilities;
#overlay{
position: absolute !important;
z-index: 100;
top : 1rem !important;
}
::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}
/* #map {position : absolute; z-index:5; } */
