@tailwind base;
@tailwind components;
@tailwind utilities;
#overlay{
position: absolute !important;
z-index: 100;
top : 1rem !important;
}
::-webkit-scrollbar {
  width: 12px !important;
}
* {
  scrollbar-width : thin;
  /* scrollbar-color: var(--secondary) var(--primary); */

  scrollbar-color: rgba(193,193,193,0.1);





scroll-margin-right: 10px;

}
/* #map {position : absolute; z-index:5; } */